@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

// paper & background
$paper: hsl(246, 71%, 24%);

$defaultPrimary: hsl(246, 71%, 24%);
$defaultSecondary: hsl(230, 44%, 63%);
$lendingPrimary: hsl(114, 100%, 13%);
$lendingSecondary: rgb(96, 164, 99);
$poolsPrimary: hsl(187, 100%, 50%);
$poolsSecondary: hsl(187, 65%, 62%);
$tokensPrimary: rgb(131, 137, 150);
$tokensSecondary: rgb(192, 192, 192);
$pairsPrimary: hsl(239, 100%, 26%);
$pairsSecondary: hsl(239, 100%, 50%);

/* Mint color */
$nftPrimary: #48cfad;
/* "#1b126b" */
/*  #37BC9B */
/* gold: rgb(222, 187, 89) */
/* two tonw purple  */
/* #1b126b */
/* #7986cb */
/* rgb(121, 134, 203) */

// primary

// 2196f3  1e88e5 90caf9 1565c0
// secondary
$secondaryLight: #880e4f;
$secondaryMain: #2414b5;
$secondaryDark: #2c1db5;
$secondary200: #b39ddb;
$secondary800: #4527a0;

$linGradient: "linear-gradient(to right bottom, #430089, #0095ff)";

// ==============================|| JAVASCRIPT ||============================== //

:export {
  // paper & background
  paper: $paper;
  defaultPrimary: $defaultPrimary;
  // dashboard colors
  defaultSecondary: $defaultSecondary;
  lendingPrimary: $lendingPrimary;
  lendingSecondary: $lendingSecondary;
  poolsPrimary: $poolsPrimary;
  poolsSecondary: $poolsSecondary;
  tokensPrimary: $tokensPrimary;
  tokensSecondary: $tokensSecondary;
  pairsDefualt: $pairsPrimary;
  pairsSecondary: $pairsSecondary;
  nftPrimary: $nftPrimary;
  // primary

  // secondary
  secondaryLight: $secondaryLight;
  secondary200: $secondary200;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary800: $secondary800;

  // success

  linGradient: $linGradient;
}
