{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",

    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": ["react", "react-hooks", "prettier", "jsx-a11y"],
  "rules": {
    "no-prototype-builtins": "off",
    "quotes": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "indent": "off",
    "spaces": "off",
    "jsx-indent": "off",
    "no-multi-spaces": "off",
    "no-multiple-empty-lines": "off",
    "space-in-parens": "off",
    "object-curly-newline": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "import/extensions": 0,
    "no-param-reassign": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "import/order": 0,
    "max-len": "off",
    "no-console": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "prefer-destructuring": 0,
    "no-shadow": 0,
    "no-unused-vars": [
      0,
      {
        "ignoreRestSiblings": false
      }
    ],
    "prettier/prettier": [
      0,
      {
        "bracketSpacing": true,
        "printWidth": 140,
        "singleQuote": true,
        "trailingComma": "none",
        "tabWidth": 4,
        "useTabs": false,
        "endOfLine": "auto"
      }
    ]
  }
}
